aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
DateTime==4.4
discord-buttons-plugin==0.1.2
discord-components==2.1.2
discord-ui==5.1.6
discord.py==1.7.3
idna==3.3
jsons==1.6.1
lxml==4.8.0
multidict==6.0.2
Pillow==9.0.1
pytz==2021.3
requests==2.27.1
soupsieve==2.3.1
typing-extensions==4.1.1
typish==1.9.3
urllib3==1.26.8
yarl==1.7.2
zope.interface==5.4.0
